<div class="container">
  <div class="container_inside">
    <div *ngIf="numberChosen" class="row" class="back-btn">
      <div class="col-6" style="padding: 0;">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Vrei sa alegi alta cifra?" (click)="resetValues()" style="display: block;">
          <i class="bi bi-arrow-left"></i>
        </button>
      </div>

      <!-- <div class="col-6" style="padding: 0;">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Vrei sa alegi alta cifra?" style="    display: block;
        float: right;">
          <i class="bi bi-info-lg"></i>
        </button>
      </div> -->
    </div>
    <div class="container_inside_background"></div>
    <div *ngIf="!numberChosen" class="container_inside_numbers">
      <h2>Alege cifra cu care vrei sa exersezi:</h2>
      <div class="container_inside_numbers_buttons">
        <button type="button" class="btn btn-outline-primary" (click)="setNumber(1)">1</button>
        <button type="button" class="btn btn-outline-primary" (click)="setNumber(2)">2</button>
        <button type="button" class="btn btn-outline-primary" (click)="setNumber(3)">3</button>
        <button type="button" class="btn btn-outline-primary" (click)="setNumber(4)">4</button>
        <button type="button" class="btn btn-outline-primary" (click)="setNumber(5)">5</button>
        <button type="button" class="btn btn-outline-primary" (click)="setNumber(6)">6</button>
        <button type="button" class="btn btn-outline-primary" (click)="setNumber(7)">7</button>
        <button type="button" class="btn btn-outline-primary" (click)="setNumber(8)">8</button>
        <button type="button" class="btn btn-outline-primary" (click)="setNumber(9)">9</button>
      </div>
    </div>
    <div *ngIf="numberChosen">
      <h2>Hai, exerseaza inmultirea cu {{value}}!</h2>
      <div class="row center clearfix">
        <div class="col-lg-6 col-md-12 col-sm-12 block">
          <div class="container_inside_left">
            <input class="form-control" type="text" disabled [(ngModel)]="value">
            <span> x </span>
            <input class="form-control" type="text" disabled [(ngModel)]="valueSelected">
            <span> = </span>
            <input class="form-control" type="text" disabled [(ngModel)]="result">
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="flex-buttons">
            <button type="button" class="btn btn-outline-primary" (click)="checkNumber(1)"
              [disabled]="disableButton">1</button>
            <button type="button" class="btn btn-outline-primary" (click)="checkNumber(2)"
              [disabled]="disableButton">2</button>
            <button type="button" class="btn btn-outline-primary" (click)="checkNumber(3)"
              [disabled]="disableButton">3</button>
          </div>
          <div class="flex-buttons">
            <button type="button" class="btn btn-outline-primary" (click)="checkNumber(4)"
              [disabled]="disableButton">4</button>
            <button type="button" class="btn btn-outline-primary" (click)="checkNumber(5)"
              [disabled]="disableButton">5</button>
            <button type="button" class="btn btn-outline-primary" (click)="checkNumber(6)"
              [disabled]="disableButton">6</button>
          </div>
          <div class="flex-buttons">
            <button type="button" class="btn btn-outline-primary" (click)="checkNumber(7)"
              [disabled]="disableButton">7</button>
            <button type="button" class="btn btn-outline-primary" (click)="checkNumber(8)"
              [disabled]="disableButton">8</button>
            <button type="button" class="btn btn-outline-primary" (click)="checkNumber(9)"
              [disabled]="disableButton">9</button>
          </div>
        </div>
      </div>

      <div class="container_inside_alerts">
        <div *ngIf="success">
          <div class="alert alert-success" role="alert">{{successMsg}}</div>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button" (click)="nextTry()">Urmatoarea provocare!</button>
          </div>
        </div>
        <div *ngIf="error">
          <div class="alert alert-danger" role="alert">Mai incearca!</div>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button"(click)="reTry()">Reincearca!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div>
    <img src="assets/girl.png" style="    width: 25%;
    position: absolute;
    bottom: 0;
    right: 0;">
    <div class="cloud">WOW!</div>
    </div> -->
</div>